---
const allPosts = await Astro.glob('../pages/posts/*.md');
import BlogPost from '../components/BlogPost.astro';
import BlogLayout from '../layouts/BlogLayout.astro'
const pageTitle = "Blog"
---

<BlogLayout pageTitle={pageTitle}>

  <h1>Mi blog de Astro aprendizaje</h1>
  <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro.</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BlogLayout>
