---

---

<div class="nav-links">
  
  <a href="/" class="nav-link active" aria-current="page">Home</a>
  <a href="/about" class="nav-link">Sobre mi</a>
  <a href="/blog" class="nav-link">Blog</a>
  <a href="/tags" class="nav-link">Etiquetas</a>
  
  
</div>