---
import Header from "../components/Header.astro";
import me_crosshand from "../assets/images/sin-fondo-pmayo.png";
import "../styles/style.css";
const { pageTitle } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <Bootstrap /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />

    <div class="container-fluid text-center">
      <div class="row content">
        <div class="col-sm-2 sidenav">
          <div class="well">
            <i class="fa-brands fa-html5"></i>
          </div>
          <div class="well">
            <i class="fa-brands fa-square-js"></i>
          </div>
          <div class="well">
            <i class="fa-brands fa-node"></i>
          </div>
          <div class="well">
            <i class="fa-brands fa-angular"></i>
          </div>
        </div>
        <div class="col-sm-8 text-left">
          <!-- <h1>Welcome</h1> -->
          <img src={me_crosshand.src} alt="" />
          <hr>
          <p>Experto solucionador de problemas para la Web. Auténtico desarrollador de bots para Discord.</p>
          <hr>
          <!-- <h3>Test</h3>
          <p>Lorem ipsum...</p> -->
        </div>
        <div class="col-sm-2 sidenav">
          <div class="well">
            <a href="https://discord.gg/4kkEDSNbcT" data-bs-toggle="tooltip" title="aristivys"><i class="bi-discord"></i></a>
          </div>
          <div class="well">
            <a href="https://twitter.com/PipeAristiza" data-bs-toggle="tooltip" title="@PipeAristiza"><i class="bi-twitter-x"></i></a>
          </div>
          <div class="well">
            <a href="https://github.com/aristizabal2020" data-bs-toggle="tooltip" title="aristizabal2020"><i class="fa-brands fa-github"></i>
          </div>
          <div class="well">
            <a href="#" data-bs-toggle="tooltip" title="Aristi#9676"><i class="bi-xbox"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/c7c18e257d.js" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  </body>
</html>
